@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  padding-bottom: 3rem;
  background-color: #161b33;
  /* font-size: 28px; */
  color: #ffffff;
  width: 100%;
  /* border-bottom: 1px solid #e0e0e0; */
  z-index: 99999;
}
.header-logo {
  font-family: Bodoni Moda SC, serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.header-left {
  display: flex;
  padding-left: 3rem;
  padding-bottom: 4rem;
}

.header-right {
  display: flex;
  gap: 0.5rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
}

.header-center {
  padding-top: 8rem;
}
.header-right-icon {
  width: 2rem;
}
.header-nav {
  display: flex;
  gap: 1rem;
}

.header-nav a {
  margin-left: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  font-family: josefin sans, sans-serif;
  /* margin-left: 0; */
}
.header-nav a:hover {
  text-decoration: underline;
  transition: all 1.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: josefin sans, sans-serif;
}
