@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Kedebideri:wght@400;500;600;700;800;900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  border-bottom: 1px solid #e0e0e0;
}
.header-logo {
  font-family: Bodoni Moda SC, serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-nav {
  display: flex;
  gap: 1rem;
}

.header-nav a {
  margin-left: 1rem;
  font-weight: 600;
  color: #2b2b2b;
  text-decoration: none;
  /* margin-left: 0; */
}
