@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.notfound {
  color: #161b33;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound-text {
  font-size: 240px;
  font-family: "BioRhyme Expanded", serif;
  margin: 0;
}

.notfound p {
  font-family: "Josefin Sans", sans-serif;
}

/* <!-- From Uiverse.io by Jedi-hongbin -->  */
/* From Uiverse.io by Jedi-hongbin */
.notfound button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
  color: #161b33;
}

.notfound button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.notfound button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.notfound button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.error-icon {
  width: 60px;
  position: absolute;
  top: 40%;
}
