@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.postMinDiv {
  display: flex;
}

.post-date {
  display: flex;
  flex-direction: column;
}

.date-day {
  font-size: 24px;
  font-weight: bold;
  font-family: Bodoni Moda SC, serif;
  display: block;
  font-size: 60px;
  line-height: 50px;
  font-family: "Domine";
  font-weight: 400;
  text-align: center;
}

.date-month-year {
  font-family: josefin sans, sans-serif;
  color: #333333;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}

.date-hyphen {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #b7b7b7;
  margin-top: 7px;
}

.post-wrapper {
  padding-left: 140px;
  position: relative;
  margin-bottom: 90px;
  padding-bottom: 100px;
}

.post-wrapper h3 {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font: 35px Josefin Sans;
  color: #333333;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;
}

.post-wrapper p {
  text-align: left;
  padding-left: 2px;
}

.post-wrapper .author {
  font-family: domine;
  font-size: 13px;
  margin-top: 0;
  /* padding-left: 4px; */
  font-size: 13px;
  color: #888888;
  /* display: inline-table; */
  vertical-align: top;
}

.post-text {
  margin: 0 0 10px;
  font-family: "Domine";
  font-weight: 400;
  color: #444444;
  line-height: 30px;
  font-size: 16px;
}
