@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.postMinDiv {
  display: flex;
  position: relative;
}

.postMinDiv::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 1px;
  left: 125px; /* adjust this value as needed */
  top: 25px;
  display: block;
  background: rgba(68, 68, 68, 0.1);
  height: calc(100% - 120px);
}

.post-date {
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-date ::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  display: block;
  /* border-radius: 50%; */
  left: 120px;
  top: 38px;
  z-index: 2;
  background: #161b33;
}
.date-day {
  font-size: 24px;
  font-weight: bold;
  font-family: Bodoni Moda SC, serif;
  display: block;
  font-size: 60px;
  line-height: 50px;
  font-family: "Domine";
  font-weight: 400;
  text-align: center;
}

.date-month-year {
  font-family: josefin sans, sans-serif;
  color: #333333;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}

.date-hyphen {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #b7b7b7;
  margin-top: 7px;
}

.author-username:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #333333;
}
.post-wrapper {
  padding-left: 140px;
  position: relative;
  margin-bottom: 90px;
  padding-bottom: 100px;
}
.content-wrapper {
  position: relative;
  margin-bottom: 40px;
}
/* .content-wrapper::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 1px;
  left: 59px;
  top: 25px;
  display: block;
  background: rgba(68, 68, 68, 0.1);
} */
.post-wrapper h3 {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font: 35px Josefin Sans;
  color: #333333;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;
}

.post-wrapper p {
  text-align: left;
  /* padding-left: 2px; */
}

.post-wrapper .author {
  font-family: domine;
  font-size: 13px;
  margin-top: 0;
  /* padding-left: 4px; */
  font-size: 13px;
  color: #888888;
  /* display: inline-table; */
  vertical-align: top;
}

.post-text {
  margin: 0 0 10px;
  font-family: "Domine";
  font-weight: 400;
  color: #444444;
  line-height: 30px;
  font-size: 16px;
  text-align: left;
}

.post-text h1 {
  font-family: "Domine";
  font-weight: 400;
  color: #444444;
  line-height: 30px;
  font-size: 24px;
  text-align: left;
}

.post-text p {
  font-family: "Domine";
  font-weight: 400;
  color: #444444;
  text-align: left;
}

.post-menu {
  display: flex;
  margin-top: 3em;
}
.post-menu img {
  width: 30px;
}

.post-menu img :hover {
  cursor: pointer;
}
