#root {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}
a {
  text-decoration: none;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.app-content {
  flex: 1;
  width: 728px;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 100px 0;
}

.outer-wrapper {
  margin: 10px auto 0;
  width: 1150px;
  background-color: #fff;
  z-index: 999;
  position: relative;
  -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.15);
  box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.15);
}

#fixed-header-bg {
  width: 100%;
  height: 330px;
  background: #161b33;
  position: absolute;
  z-index: 9;
}

@media only screen and (max-width: 1060px) {
  #outer-wrapper {
    max-width: 90%;
    box-shadow: none;
  }
}
